:root {
  --btn-color: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 0%);
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #84838b;
  --primary-color: #fe806d; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.2;
  behavior: smooth; }

.btn {
  background: var(--btn-color);
  border: none;
  outline: none;
  color: var(--white-color);
  cursor: pointer;
  background-size: 200%;
  transition: all 0.4s; }
  .btn:hover {
    background: linear-gradient(to left, #fe8464 0%, #fe6e9a 100%, #fe8464 100%); }
  .btn-download {
    padding: 14px 24px;
    border-radius: 5px;
    transition: all 1s ease; }
  .btn-baner {
    padding: 12px 22px;
    font-size: 1.4rem;
    background: linear-gradient(to right, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
    border-radius: 5px;
    transition: all 1s ease-in-out; }
    .btn-baner:hover {
      background: linear-gradient(to left, #119bd2 100%, #33c8c1 100%, #119bd2 0%); }
  .btn-about {
    margin-top: 50px;
    padding: 15px 35px;
    font-size: 1.6rem;
    border-radius: 5px; }

.line {
  width: 150px;
  height: 5px;
  margin-bottom: 20px;
  background: var(--btn-color);
  margin: 0 auto; }
  .line__about, .line__fact, .line__blog {
    margin: 0;
    margin-bottom: 20px; }

.header {
  background-image: url("../img/bg-header1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative; }
  .header__content {
    display: flex;
    justify-content: space-between;
    padding-top: 25px; }
  .header .logo-black {
    display: none; }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.4s ease-out 0s;
    height: 70px;
    overflow: hidden; }
  .header__nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px; }
    .header__nav.active a, .header__nav.active i {
      color: var(--black-color); }
  .header__list {
    font-size: 1.6rem;
    display: inline-block;
    list-style: none; }
    .header__list-item {
      margin-right: 47px;
      display: inline-block; }
      .header__list-item__link {
        text-decoration: none;
        color: var(--white-color); }
  .header .menu-mobile-btn {
    cursor: pointer;
    float: right;
    display: none; }
    .header .menu-mobile-btn-icon {
      color: var(--white-color);
      font-size: 3rem; }
  .header__menu-mobile-content {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background: var(--btn-color);
    transition: all 1s ease;
    z-index: 999;
    opacity: 0.9; }
    .header__menu-mobile-content ul {
      list-style: none;
      cursor: pointer;
      padding: 100px 0 0 20px; }
      .header__menu-mobile-content ul li {
        margin-bottom: 20px; }
        .header__menu-mobile-content ul li a {
          text-decoration: none;
          font-size: 1.6rem;
          color: var(--white-color); }
    .header__menu-mobile-content.open {
      right: 0; }
    .header__menu-mobile-content i {
      font-size: 3rem;
      position: absolute;
      top: 36px;
      right: 32px;
      color: var(--white-color); }
  .header .baner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .header .baner__content {
      padding-top: 180px;
      color: var(--white-color);
      text-align: center; }
      .header .baner__content .title {
        font-size: 3.8rem; }
      .header .baner__content .title-sub {
        font-size: 3.8rem;
        font-weight: bold; }
      .header .baner__content .desc {
        font-size: 1.6rem;
        margin: 45px 0; }
    .header .baner__logo {
      max-width: 650px;
      padding-top: 45px;
      text-align: center; }
      .header .baner__logo-img {
        width: 100%;
        height: 100%; }

.brand {
  padding-top: 90px; }
  .brand__logo-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .brand__logo-img {
    width: 70%;
    opacity: 0.5;
    transition: all 0.3s; }
    .brand__logo-img:hover {
      opacity: 1; }

.feature {
  padding-top: 100px; }
  .feature__top {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    justify-content: center;
    padding-bottom: 50px; }
  .feature__heading {
    font-size: 2rem;
    max-width: 80%; }
    .feature__heading-content {
      padding-top: 15px;
      text-align: center; }
      .feature__heading-content span {
        font-weight: 100; }
  .feature__list {
    margin-top: 30px;
    background-color: var(--white-color);
    padding: 70px 30px;
    border: 2px solid transparent;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 33px -10px rgba(153, 153, 153, 0.73);
    box-shadow: 0px 0px 33px -10px rgba(153, 153, 153, 0.73);
    text-align: center;
    transition: all 0.3s; }
    .feature__list-top {
      display: inline-block;
      position: relative; }
      .feature__list-top-img {
        position: relative; }
      .feature__list-top-img1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .feature__list-top-icon {
        font-size: 3.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white-color); }
    .feature__list-header {
      font-size: 2.8rem;
      font-weight: 900;
      margin-top: 30px;
      cursor: pointer; }
      .feature__list-header:hover {
        color: #2e82ef; }
    .feature__list-desc {
      display: block;
      font-size: 1.6rem;
      margin: 30px 0;
      color: var(--gray-color);
      font-weight: 100; }
    .feature__list-link {
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: var(--black-color); }
      .feature__list-link i {
        font-size: 2.8rem;
        font-weight: 100; }
      .feature__list-link:hover {
        color: #361cc1; }
    .feature__list:hover {
      transform: translateY(-20px);
      border-color: #fe7a7b; }

.about1 {
  position: relative;
  padding-top: 100px; }
  .about1__bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35%;
    z-index: -5; }
    .about1__bg img {
      width: 100%; }
  .about1-left {
    margin-right: 50px; }
    .about1-left__content {
      font-size: 3.2rem; }
      .about1-left__content span {
        font-weight: 100; }
    .about1-left .wieght {
      font-weight: 100; }
    .about1-left .bold {
      font-weight: 900; }
    .about1-left__desc {
      font-size: 1.6rem;
      margin-top: 15px;
      font-weight: 100;
      color: var(--gray-color); }
  .about1-right__img {
    width: 100%; }

.about2 {
  padding-top: 100px;
  position: relative; }
  .about2__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 35%; }
    .about2__bg img {
      width: 100%; }
  .about2-left {
    margin-right: 50px; }
    .about2-left__img {
      width: 100%;
      height: 100%; }
  .about2-right {
    margin-right: 50px; }
    .about2-right__content {
      font-size: 3.2rem; }
      .about2-right__content span {
        font-weight: 100; }
    .about2-right__desc {
      font-size: 1.6rem;
      margin-top: 15px;
      font-weight: 100;
      color: var(--gray-color); }

.fact {
  padding-top: 100px; }
  .fact-left {
    position: relative;
    padding-bottom: 30px; }
    .fact-left__videos {
      position: relative; }
    .fact-left-bg {
      max-width: 70%;
      position: absolute;
      left: -30px;
      bottom: 0; }
    .fact-left__img {
      overflow: hidden; }
      .fact-left__img img {
        width: 100%; }
    .fact-left__clip {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
      border-radius: 15px; }
      .fact-left__clip a {
        width: 55px;
        height: 55px;
        text-align: center;
        border-radius: 50%;
        background-color: #fff;
        color: #fe8464;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .fact-left__clip a i {
          display: inline-block;
          font-size: 3rem;
          line-height: 55px; }
  .fact-right {
    margin-left: 100px; }
    .fact-right__content {
      font-size: 3.2rem; }
      .fact-right__content span {
        font-weight: 100; }
    .fact-right__desc {
      font-size: 1.6rem;
      color: var(--gray-color);
      margin: 56px 0; }
    .fact-right__couter {
      max-width: 155px;
      height: 120px;
      border-radius: 60px;
      position: relative;
      z-index: 5;
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .fact-right__couter::before {
        content: "";
        position: absolute;
        width: 155px;
        height: 120px;
        border-radius: 60px;
        top: 0;
        left: 0;
        transform: rotate(-45deg);
        z-index: -1; }
      .fact-right__couter-text {
        color: var(--white-color);
        font-size: 2rem; }
      .fact-right__couter-item {
        font-size: 1.8rem;
        color: var(--white-color); }
    .fact-right .background1::before {
      background: linear-gradient(#33c8c1 0%, #119bd2 100%); }
    .fact-right .background2::before {
      background: linear-gradient(#fe8464 0%, #fe6e9a 100%); }
    .fact-right .background3::before {
      background: linear-gradient(#361cc1 0%, #2e82ef 100%); }

.team {
  padding-top: 100px; }
  .team__heading {
    font-size: 2.2rem;
    text-align: center; }
    .team__heading .row {
      justify-content: center; }
    .team__heading-text {
      margin-top: 20px; }
      .team__heading-text h2 {
        font-weight: 100; }
      .team__heading-text span {
        font-weight: 900; }
  .team__container {
    margin-top: 70px;
    border-radius: 10px; }
    .team__container-item {
      -webkit-box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
      box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
      border-radius: 10px;
      height: 100%; }
      .team__container-item-img {
        position: relative; }
        .team__container-item-img img {
          width: 100%; }
      .team__container-item-icon {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px; }
        .team__container-item-icon ul {
          list-style: none;
          display: flex;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.23);
          border-radius: 50px;
          padding: 14px 0;
          width: 60%;
          margin: 0 auto;
          cursor: pointer; }
          .team__container-item-icon ul li a {
            padding: 0 10px;
            font-size: 2rem;
            color: var(--white-color); }
          .team__container-item-icon ul:hover {
            background: linear-gradient(#fe8464 0%, #fe6e9a 100%); }
      .team__container-item-text {
        text-align: center;
        font-size: 2rem;
        padding: 26px 0; }
        .team__container-item-text p {
          font-size: 1.6rem;
          margin-top: 10px;
          color: var(--gray-color); }

.testimonial {
  padding-top: 100px;
  position: relative; }
  .testimonial .row {
    justify-content: center;
    flex-wrap: nowrap; }
  .testimonial__heading {
    padding-bottom: 50px; }
    .testimonial__heading-text {
      margin-top: 20px;
      font-size: 2.2rem;
      text-align: center; }
      .testimonial__heading-text h2 {
        font-weight: 900; }
      .testimonial__heading-text span {
        font-weight: 100; }
  .testimonial__slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative; }
  .testimonial__container {
    font-size: 2rem;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
    box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
    border-radius: 6px;
    border: 2px solid #fff;
    transition: all 0.3s;
    margin: 20px 0; }
    .testimonial__container-icon {
      display: flex;
      justify-content: space-between; }
      .testimonial__container-icon-right {
        color: #119bd2; }
      .testimonial__container-icon-star {
        display: flex;
        list-style: none; }
        .testimonial__container-icon-star li {
          color: var(--primary-color); }
    .testimonial__container-text {
      font-size: 1.6rem;
      color: var(--gray-color);
      margin: 20px 0; }
    .testimonial__container-item {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .testimonial__container-item-img {
        display: inline-block;
        position: relative; }
        .testimonial__container-item-img-hinh {
          position: absolute;
          top: 17px;
          left: 17px;
          width: 80px;
          height: 80px; }
      .testimonial__container-item-info h3 {
        font-size: 2rem; }
      .testimonial__container-item-info p {
        font-size: 1.6rem;
        color: var(--gray-color);
        margin-top: 5px; }
    .testimonial__container:hover {
      border-color: #fe7a7b; }
  .testimonial__active {
    border: 2px solid #fe7a7b; }
  .testimonial .slick-dog {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer; }
    .testimonial .slick-dog button {
      list-style: none;
      margin-right: 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--btn-color);
      border: none;
      opacity: 0.5;
      cursor: pointer; }
    .testimonial .slick-dog .control.active {
      background-color: var(--primary-color);
      opacity: 1; }

.blog {
  padding-top: 100px;
  margin-bottom: 100px; }
  .blog__heading {
    font-size: 2.2rem;
    padding-bottom: 76px; }
    .blog__heading h2 {
      font-weight: 100; }
    .blog__heading span {
      font-weight: 900; }
  .blog__content-img {
    width: 100%; }
  .blog__content-text {
    font-size: 1.8rem;
    padding-top: 30px; }
    .blog__content-text-top {
      font-size: 1.4rem;
      color: var(--gray-color); }
      .blog__content-text-top span {
        margin-right: 50px; }
    .blog__content-text-desc {
      padding: 16px 0; }
    .blog__content-text-bottom {
      margin-top: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .blog__content-text-bottom a {
        text-decoration: none;
        color: var(--primary-color); }
      .blog__content-text-bottom i {
        font-size: 2.8rem;
        color: var(--primary-color); }

.footer {
  padding-top: 100px;
  background-image: url("../img/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top bottom; }
  .footer__sub {
    padding: 60px 40px;
    -webkit-box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
    box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
    border-radius: 10px;
    background-color: var(--white-color);
    margin-bottom: 30px; }
    .footer__sub-text {
      font-size: 3.6rem;
      font-weight: 900; }
      .footer__sub-text span {
        font-weight: 100; }
    .footer__sub-input {
      position: relative; }
      .footer__sub-input input {
        padding: 0 30px;
        border: 2px solid #ccc;
        width: 100%;
        height: 65px;
        border-radius: 5px;
        font-size: 1.8rem;
        outline: none;
        color: var(--gray-color); }
      .footer__sub-input button {
        position: absolute;
        top: 0;
        right: 0;
        height: 65px;
        line-height: 65px;
        background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
        padding: 0 30px;
        font-size: 1.8rem;
        border-radius: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
  .footer__list {
    font-size: 2rem;
    padding-top: 70px;
    padding-bottom: 100px; }
    .footer__list-img {
      width: 160px; }
    .footer__list-text {
      color: var(--white-color);
      font-size: 1.4rem;
      padding: 40px 0; }
    .footer__list-icon {
      display: flex;
      align-items: center;
      list-style: none; }
      .footer__list-icon li {
        margin-right: 26px; }
        .footer__list-icon li a {
          color: var(--white-color);
          font-size: 2.6rem; }
    .footer__list-item {
      color: var(--white-color); }
      .footer__list-item h2 {
        padding-bottom: 30px;
        font-size: 2.4rem; }
      .footer__list-item ul {
        list-style: none; }
        .footer__list-item ul li {
          margin-bottom: 16px;
          font-size: 1.6rem; }
          .footer__list-item ul li a {
            text-decoration: none;
            color: var(--white-color);
            font-size: 1.6rem;
            transition: all 0.4s; }
            .footer__list-item ul li a:hover {
              color: var(--primary-color); }
  .footer__bottom {
    border-top: 1px solid var(--gray-color); }
    .footer__bottom p {
      font-size: 1.6rem;
      color: var(--white-color);
      padding: 30px 0; }
      .footer__bottom p a {
        color: var(--white-color);
        text-decoration: none;
        transition: all 0.5s; }
        .footer__bottom p a:hover {
          color: var(--primary-color); }

.backtoTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 2rem;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: var(--white-color);
  background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
  text-align: center;
  z-index: 99;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }
  .backtoTop.active {
    visibility: visible;
    opacity: 1; }

/* Mobile & Tablet */
/*  Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
  .header__list-item {
    margin-right: 20px;
    font-size: 1.4rem; }
  .menu-mobile-btn {
    display: none; }
  .brand__logo-item {
    margin-bottom: 24px; }
  .feature__list {
    padding: 40px 30px; }
    .feature__list-header {
      margin-top: 10px; }
    .feature__list-desc {
      margin: 10px 0; }
    .feature__list-link {
      margin-left: 25px; }
  .fact-right {
    margin-left: 20px; }
    .fact-right__couter {
      max-width: 100px;
      height: 80px;
      margin-top: 0; }
      .fact-right__couter::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 80px;
        border-radius: 60px;
        top: 0;
        left: 0;
        transform: rotate(-45deg);
        z-index: -1; }
      .fact-right__couter-text {
        font-size: 1.6rem; }
      .fact-right__couter-item {
        font-size: 1.4rem; }
    .fact-right__desc {
      margin: 30px 0; }
  .footer__sub {
    padding: 40px 20px; }
    .footer__sub-text {
      font-size: 2rem; }
    .footer__sub-input input {
      padding: 0 15px;
      font-size: 1.4rem;
      height: 40px; }
    .footer__sub-input button {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      font-size: 1.6rem; }
  .footer__list-img {
    width: 40%; }
  .footer__list-text {
    font-size: 1.6rem;
    padding: 20px 0; }
  .footer__list-icon {
    margin-bottom: 20px; }
    .footer__list-icon li {
      margin-right: 10px; }
      .footer__list-icon li a {
        font-size: 2.4rem; } }

/* Mobile */
@media (max-width: 740px) {
  header.header .baner__content .title,
  header.header .baner__content .title-sub {
    font-size: 2rem; }
  header.header .baner__content .desc {
    font-size: 1.4rem; }
  .header__list {
    display: none; }
  .header .menu-mobile-btn {
    display: block;
    margin-right: 20px; }
  .header .btn-download {
    display: none; }
  .brand__logo-item {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px; }
  .brand__logo-img {
    width: 40%; }
  .feature__list {
    padding: 30px 10px; }
    .feature__list-header {
      margin-top: 10px; }
    .feature__list-desc {
      margin: 10px 0; }
    .feature__list-link {
      margin-left: 25px; }
  .about1-left {
    margin: 0 10px; }
  .about1-right {
    margin: 0 10px; }
    .about1-right img {
      margin-top: 16px; }
  .about2-left {
    margin: 0 10px; }
    .about2-left img {
      margin-bottom: 16px; }
  .about2-right {
    margin: 0 10px; }
  .fact-left {
    margin: 0 10px; }
  .fact-right {
    margin: 0 10px; }
    .fact-right__desc {
      margin: 20px 0; }
    .fact-right__couter {
      margin-top: 30px;
      max-width: 100px;
      height: 80px; }
      .fact-right__couter::before {
        width: 100%;
        height: 100%; }
      .fact-right__couter-text {
        font-size: 1.4rem; }
      .fact-right__couter-item {
        font-size: 1.4rem; }
  .team__container-item {
    margin: 10px 5px; }
  .blog {
    margin: 0 10px; }
  .blog__content {
    margin-bottom: 20px; }
  .footer__sub {
    margin: 0 10px;
    padding: 30px 5px; }
    .footer__sub-text {
      font-size: 1.6rem; }
    .footer__sub-input input {
      height: 40px;
      font-size: 1rem;
      padding: 0 10px; }
    .footer__sub-input button {
      height: 40px;
      line-height: 40px;
      font-size: 1.4rem;
      padding: 0 10px; }
  .footer__list {
    margin: 0 10px;
    padding-bottom: 40px; }
    .footer__list-text {
      padding: 20px 0; }
    .footer__list-item {
      margin-top: 20px; }
  .footer__bottom {
    margin: 0 10px; } }
