:root {
    --btn-color: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 0%);
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #84838b;
    --primary-color: #fe806d;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    line-height: 1.2;
    behavior: smooth;
}

.btn {
    background: var(--btn-color);
    border: none;
    outline: none;
    color: var(--white-color);
    cursor: pointer;
    background-size: 200%;
    transition: all 0.4s;
    &:hover {
        background: linear-gradient(to left, #fe8464 0%, #fe6e9a 100%, #fe8464 100%);
    }
    &-download {
        padding: 14px 24px;
        border-radius: 5px;
        transition: all 1s ease;
    }

    &-baner {
        padding: 12px 22px;
        font-size: 1.4rem;
        background: linear-gradient(to right, #33c8c1 0%, #33c8c1 50%, #119bd2 100%);
        border-radius: 5px;
        transition: all 1s ease-in-out;
        &:hover {
            background: linear-gradient(to left, #119bd2 100%, #33c8c1 100%, #119bd2 0%);
        }
    }
    &-about {
        margin-top: 50px;
        padding: 15px 35px;
        font-size: 1.6rem;
        border-radius: 5px;
    }
}

.line {
    width: 150px;
    height: 5px;
    margin-bottom: 20px;
    background: var(--btn-color);
    margin: 0 auto;
    &__about,
    &__fact,
    &__blog {
        margin: 0;
        margin-bottom: 20px;
    }
}

.header {
    background-image: url("../img/bg-header1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }
    .logo-black{
        display:none;
    }
    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        transition: all 0.4s ease-out 0s;
        height: 70px;
        overflow: hidden;
    }
    &__nav.active {
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        padding-bottom: 20px;
        a , i{
            color: var(--black-color);
        }
    }
    &__list {
        font-size: 1.6rem;
        display: inline-block;
        list-style: none;
        &-item {
            margin-right: 47px;
            display: inline-block;
            &__link {
                text-decoration: none;
                color: var(--white-color);
            }
        }
    }
    .menu-mobile-btn{
        cursor: pointer;
        float: right;
        display: none;
        &-icon{
            color: var(--white-color);
            font-size: 3rem;
        }
    }
    &__menu {
        &-mobile{
            &-content{
                position: fixed;
                top: 0 ;
                right: -200px;
                width: 200px;
                height: 100%;
                background: var(--btn-color);
                transition: all 1s ease;
                z-index: 999;
                opacity: 0.9;
                ul{
                    list-style: none;
                    cursor: pointer;
                    padding: 100px 0 0 20px;
                    li{
                        margin-bottom: 20px;
                        a{
                            text-decoration: none;
                            font-size: 1.6rem;
                            color: var(--white-color);
                        }
                    }
                }
                &.open{
                    right: 0;
                }
                i{
                    font-size: 3rem;
                    position: absolute;
                    top: 36px;
                    right: 32px;
                    color: var(--white-color)
                }

            }
        }
    }
    .baner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__content {
            padding-top: 180px;
            color: var(--white-color);
            text-align: center;
            .title {
                font-size: 3.8rem;
            }
            .title-sub {
                font-size: 3.8rem;
                font-weight: bold;
            }
            .desc {
                font-size: 1.6rem;
                margin: 45px 0;
            }
        }

        &__logo {
            max-width: 650px;
            padding-top: 45px;
            text-align: center;
            &-img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.brand {
    padding-top: 90px;
    &__logo {
        &-list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        &-img {
            width: 70%;
            opacity: 0.5;
            transition: all 0.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.feature {
    padding-top: 100px;
    &__top {
        display: flex;
        flex-wrap: wrap;
        margin-left: -4px;
        margin-right: -4px;
        justify-content: center;
        padding-bottom: 50px;
    }

    &__heading {
        font-size: 2rem;
        max-width: 80%;
        &-content {
            padding-top: 15px;
            text-align: center;
            span {
                font-weight: 100;
            }
        }
    }
    &__list {
        margin-top: 30px;
        background-color: var(--white-color);
        padding: 70px 30px;
        border: 2px solid transparent;
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 33px -10px rgba(153, 153, 153, 0.73);
        box-shadow: 0px 0px 33px -10px rgba(153, 153, 153, 0.73);
        text-align: center;
        transition: all 0.3s;
        &-top {
            display: inline-block;
            position: relative;
            &-img {
                position: relative;
            }
            &-img1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &-icon {
                font-size: 3.4rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--white-color);
            }
        }
        &-header {
            font-size: 2.8rem;
            font-weight: 900;
            margin-top: 30px;
            cursor: pointer;
            &:hover {
                color: #2e82ef;
            }
        }
        &-desc {
            display: block;
            font-size: 1.6rem;
            margin: 30px 0;
            color: var(--gray-color);
            font-weight: 100;
        }
        &-link {
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: var(--black-color);
            i {
                font-size: 2.8rem;
                font-weight: 100;
            }
            &:hover {
                color: #361cc1;
            }
        }
        &:hover {
            transform: translateY(-20px);
            border-color: #fe7a7b;
        }
    }
}

.about1 {
    position: relative;
    padding-top: 100px;
    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 35%;
        z-index: -5;
        img {
            width: 100%;
        }
    }
    &-left {
        margin-right: 50px;
        &__content {
            font-size: 3.2rem;
            span {
                font-weight: 100;
            }
        }
        .wieght {
            font-weight: 100;
        }
        .bold {
            font-weight: 900;
        }
        &__desc {
            font-size: 1.6rem;
            margin-top: 15px;
            font-weight: 100;
            color: var(--gray-color);
        }
    }
    &-right {
        &__img {
            width: 100%;
        }
    }
}

.about2 {
    padding-top: 100px;
    position: relative;
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 35%;
        img {
            width: 100%;
        }
    }
    &-left {
        margin-right: 50px;
        &__img {
            width: 100%;
            height: 100%;
        }
    }
    &-right {
        margin-right: 50px;
        &__content {
            font-size: 3.2rem;
            span {
                font-weight: 100;
            }
        }
        &__desc {
            font-size: 1.6rem;
            margin-top: 15px;
            font-weight: 100;
            color: var(--gray-color);
        }
    }
}

.fact {
    padding-top: 100px;
    &-left {
        position: relative;
        padding-bottom: 30px;
        &__videos {
            position: relative;
        }
        &-bg {
            max-width: 70%;
            position: absolute;
            left: -30px;
            bottom: 0;
        }
        &__img {
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        &__clip {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
            border-radius: 15px;
            a {
                width: 55px;
                height: 55px;
                text-align: center;
                border-radius: 50%;
                background-color: #fff;
                color: #fe8464;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                i {
                    display: inline-block;
                    font-size: 3rem;
                    line-height: 55px;
                }
            }
        }
    }
    &-right {
        margin-left: 100px;
        &__content {
            font-size: 3.2rem;
            span {
                font-weight: 100;
            }
        }
        &__desc {
            font-size: 1.6rem;
            color: var(--gray-color);
            margin: 56px 0;
        }
        &__couter {
            max-width: 155px;
            height: 120px;
            border-radius: 60px;
            position: relative;
            z-index: 5;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &::before {
                content: "";
                position: absolute;
                width: 155px;
                height: 120px;
                border-radius: 60px;
                top: 0;
                left: 0;
                transform: rotate(-45deg);
                z-index: -1;
            }
            &-text {
                color: var(--white-color);
                font-size: 2rem;
            }
            &-item {
                font-size: 1.8rem;
                color: var(--white-color);
            }
        }
        .background1::before {
            background: linear-gradient(#33c8c1 0%, #119bd2 100%);
        }
        .background2::before {
            background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
        }
        .background3::before {
            background: linear-gradient(#361cc1 0%, #2e82ef 100%);
        }
    }
}

.team {
    padding-top: 100px;
    &__heading {
        font-size: 2.2rem;
        text-align: center;
        .row {
            justify-content: center;
        }
        &-text {
            margin-top: 20px;
            h2 {
                font-weight: 100;
            }
            span {
                font-weight: 900;
            }
        }
    }
    &__container {
        margin-top: 70px;
        border-radius: 10px;

        &-item {
            -webkit-box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
            box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
            border-radius: 10px;
            height: 100%;
            &-img {
                position: relative;
                img {
                    width: 100%;
                }
            }
            &-icon {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 25px;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    background-color: rgba(255, 255, 255, 0.23);
                    border-radius: 50px;
                    padding: 14px 0;
                    width: 60%;
                    margin: 0 auto;
                    cursor: pointer;
                    li {
                        a {
                            padding: 0 10px;
                            font-size: 2rem;
                            color: var(--white-color);
                        }
                    }
                    &:hover {
                        background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
                    }
                }
            }
            &-text {
                text-align: center;
                font-size: 2rem;
                padding: 26px 0;
                p {
                    font-size: 1.6rem;
                    margin-top: 10px;
                    color: var(--gray-color);
                }
            }
        }
    }
}

.testimonial {
    padding-top: 100px;
    position: relative;
    .row {
        justify-content: center;
        flex-wrap: nowrap;
    }
    &__heading {
        padding-bottom: 50px;
        &-text {
            margin-top: 20px;
            font-size: 2.2rem;
            text-align: center;
            h2 {
                font-weight: 900;
            }
            span {
                font-weight: 100;
            }
        }
    }
    &__slider {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }
    &__container {
        font-size: 2rem;
        padding: 30px;
        -webkit-box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
        box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
        border-radius: 6px;
        border: 2px solid #fff;
        transition: all 0.3s;
        margin: 20px 0;
        &-icon {
            display: flex;
            justify-content: space-between;
            &-right {
                color: #119bd2;
            }
            &-star {
                display: flex;
                list-style: none;
                li {
                    color: var(--primary-color);
                }
            }
        }
        &-text {
            font-size: 1.6rem;
            color: var(--gray-color);
            margin: 20px 0;
        }
        &-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-img {
                display: inline-block;
                position: relative;
                &-hinh {
                    position: absolute;
                    top: 17px;
                    left: 17px;
                    width: 80px;
                    height: 80px;
                }
            }
            &-info {
                h3 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.6rem;
                    color: var(--gray-color);
                    margin-top: 5px;
                }
            }
        }
        &:hover {
            border-color: #fe7a7b;
        }
    }
    &__active {
        border: 2px solid #fe7a7b;
    }
    .slick-dog {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        cursor: pointer;
        button {
            list-style: none;
            margin-right: 5px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: var(--btn-color);
            border: none;
            opacity: 0.5;
            cursor: pointer;
        }
        .control.active {
            background-color: var(--primary-color);
            opacity: 1;
        }
    }
}

.blog {
    padding-top: 100px;
    margin-bottom: 100px;
    &__heading {
        font-size: 2.2rem;
        padding-bottom: 76px;
        h2 {
            font-weight: 100;
        }
        span {
            font-weight: 900;
        }
    }
    &__content {
        &-img {
            width: 100%;
        }
        &-text {
            font-size: 1.8rem;
            padding-top: 30px;
            &-top {
                font-size: 1.4rem;
                color: var(--gray-color);
                span {
                    margin-right: 50px;
                }
            }
            &-desc {
                padding: 16px 0;
            }
            &-bottom {
                margin-top: 16px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a {
                    text-decoration: none;
                    color: var(--primary-color);
                }
                i {
                    font-size: 2.8rem;
                    color: var(--primary-color);
                }
            }
        }
    }
}

.footer {
    padding-top: 100px;
    background-image: url("../img/footer-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top bottom;
    &__sub {
        padding: 60px 40px;
        -webkit-box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
        box-shadow: 0px 0px 26px 5px rgba(32, 71, 153, 0.15);
        border-radius: 10px;
        background-color: var(--white-color);
        margin-bottom: 30px;
        &-text {
            font-size: 3.6rem;
            font-weight: 900;
            span {
                font-weight: 100;
            }
        }
        &-input {
            position: relative;
            input {
                padding: 0 30px;
                border: 2px solid #ccc;
                width: 100%;
                height: 65px;
                border-radius: 5px;
                font-size: 1.8rem;
                outline: none;
                color: var(--gray-color);
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                height: 65px;
                line-height: 65px;
                background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
                padding: 0 30px;
                font-size: 1.8rem;
                border-radius: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    &__list {
        font-size: 2rem;
        padding-top: 70px;
        padding-bottom: 100px;
        &-img {
            width: 160px;
        }
        &-text {
            color: var(--white-color);
            font-size: 1.4rem;
            padding: 40px 0;
        }
        &-icon {
            display: flex;
            align-items: center;
            list-style: none;
            li {
                margin-right: 26px;
                a {
                    color: var(--white-color);
                    font-size: 2.6rem;
                }
            }
        }
        &-item {
            color: var(--white-color);
            h2 {
                padding-bottom: 30px;
                font-size: 2.4rem;
            }
            ul {
                list-style: none;
                li {
                    margin-bottom: 16px;
                    font-size: 1.6rem;
                    a {
                        text-decoration: none;
                        color: var(--white-color);
                        font-size: 1.6rem;
                        transition: all 0.4s;
                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid var(--gray-color);
        p {
            font-size: 1.6rem;
            color: var(--white-color);
            padding: 30px 0;
            a {
                color: var(--white-color);
                text-decoration: none;
                transition: all 0.5s;
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.backtoTop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 2rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: var(--white-color);
    background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
    text-align: center;
    z-index: 99;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}

/* Mobile & Tablet */
@media (max-width: 1024px) {

}

/*  Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    .header__list {
        &-item {
            margin-right: 20px;
            font-size: 1.4rem;
        }
    }
    .menu-mobile-btn{
        display: none;
    }
    .brand__logo-item {
        margin-bottom: 24px;
    }
    .feature__list {
        padding: 40px 30px;
        &-header {
            margin-top: 10px;
        }
        &-desc {
            margin: 10px 0;
        }
        &-link {
            margin-left: 25px;
        }
    }
    .fact-right {
        margin-left: 20px;
        &__couter {
            max-width: 100px;
            height: 80px;
            margin-top: 0;
            &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 80px;
                border-radius: 60px;
                top: 0;
                left: 0;
                transform: rotate(-45deg);
                z-index: -1;
            }
            &-text {
                font-size: 1.6rem;
            }
            &-item{
                font-size: 1.4rem;
            }
        }
        &__desc{
            margin: 30px 0;
        }
    }
    .footer{
        &__sub{
            padding: 40px 20px;
            &-text{
                font-size: 2rem;
            }
            &-input {
                input{
                    padding: 0 15px;
                    font-size: 1.4rem;
                    height: 40px;
                }
                button{
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                    font-size: 1.6rem;
                }
            }
        }
        &__list{
            &-img{
                width: 40%;
            }
            &-text{
                font-size: 1.6rem;
                padding: 20px 0;
            }
            &-icon{
                margin-bottom: 20px;
                li{
                    margin-right: 10px;
                    a{
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 740px) {
    header.header .baner__content .title,
    header.header .baner__content .title-sub {
        font-size: 2rem;
    }
    header.header .baner__content .desc {
        font-size: 1.4rem;
    }
    .header{
        &__list{
            display: none;
        }
        .menu-mobile-btn{
            display: block;
            margin-right: 20px;

        }
        .btn-download{
            display: none;
        }
    }

    .brand__logo{
        
        &-item{
            text-align: center;
            font-size: 1.6rem;
            margin-bottom: 20px;
        }
        &-img{
            width: 40%;
        }
        
    }
    .feature__list {
        padding: 30px 10px;
        
        &-header {
            margin-top: 10px;
        }
        &-desc {
            margin: 10px 0;
        }
        &-link {
            margin-left: 25px;
        }
    }
    .about1{
        &-left{
            margin: 0 10px;
        }
        &-right{
            margin: 0 10px;
            img{
                margin-top: 16px;
            }
        }
    }
    .about2{
        &-left{
            margin: 0 10px;
            img{
                margin-bottom: 16px;
            }
        }
        &-right{
            margin: 0 10px;
        }
    }
    .fact{
        &-left{
            margin: 0 10px;
        }
        
        &-right{
            margin: 0 10px;
            &__desc{
                margin: 20px 0;
            }
            &__couter{
                margin-top: 30px;
                max-width: 100px;
                height: 80px;
                &::before{
                    width: 100%;
                    height: 100%;
                }
                &-text{
                    font-size: 1.4rem;
                }
                &-item{
                    font-size: 1.4rem;
                }
            }
        }
    }
    .team__container-item{
        margin: 10px 5px;
    }
    .blog{
        margin: 0 10px;
    }
    .blog__content{
        margin-bottom: 20px;
    }
    .footer{
        &__sub{
            margin: 0 10px;
            padding: 30px 5px;
            &-text{
                font-size: 1.6rem;

            }
            &-input{
                input{
                    height: 40px;
                    font-size: 1rem;
                    padding: 0 10px;
                }
                button{
                    height: 40px;
                    line-height: 40px;
                    font-size: 1.4rem;
                    padding: 0 10px;
                }
            }
        }
        &__list{
            margin: 0 10px;
            padding-bottom: 40px;
            &-text{
                padding: 20px 0;
            }
            &-item{
                margin-top: 20px;
            }
        }
        &__bottom{
            margin: 0 10px;
        }
    }
    
}
